.about {
	overflow-y: auto;
	max-height: 100vh;
}
.about .sections {
	position: relative;
	z-index: 1;
}
.about .sections .section {
	box-sizing: border-box;
	padding: 5rem;
	height: 100vh;
	/* background-color: aliceblue; */
}
.about .sections .section:nth-child(even) {
	text-align: right;
}